<!DOCTYPE HTML>
<html lang="en" ng-app="Application">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Application</title>
    <link rel="shortcut icon" href="http://resilientcoders.s3.amazonaws.com/i/favicon.gif" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="AppCtrl as ctrl" ng-cloak>



<header>
    <div>
        <a href="http://www.resilientcoders.org"><img src="logo.png"></a>
        <h2>Application Form</h2>
    </div>
</header>

<form name="gform" id="gform" method="POST"
      action="https://script.google.com/macros/s/AKfycbyeBSQcoXWiN4z-rpcnMpDWxpIej-HF1KzzQJ_TPC3LFSG4g9o/exec">
    <fieldset>
        <label for="name">Name</label>
        <input id="name" type="text" ng-model="name" name="name"/>

        <label for="organization">Organization</label>
        <input id="organization" type="text" ng-model="organization" name="organization"/>

        <label for="email">Email</label>
        <input id="email" type="email" ng-model="email" name="email"/>

        <label for="telephone">Telephone</label>
        <input id="telephone" type="text" ng-model="telephone" name="telephone"/>

        <h2>Does your Executive Director approve of this applcation?</h2>
        <ul>
            <li>
                <input id="approval" type="radio" ng-checked="checked" name="approval" value="Yes"/>
                <label for="approval" ng-click="checked=true">Yes</label>
                <div class="check" ng-click="checked=true"></div>
            </li>

            <li>
                <input id="disapproval" type="radio" ng-checked="!checked" name="approval" value="No"/>
                <label for="disapproval" ng-click="checked=false">No</label>
                <div class="check" ng-click="checked=false"></div>
            </li>
        </ul>

        <!-- If approval, ng-show-->

        <label for="edTelephone" ng-show="checked">Executive Director Telephone: </label>
        <input type="text" ng-show="checked" id="edTelephone" ng-model="edTelephone" name="edTelephone"/>
        <label for="edEmail" ng-show="checked">Executive Director Email: </label>
        <input type="email" ng-show="checked" id="edEmail" ng-model="edEmail" name="edEmail"/>
    </fieldset>

    <fieldset>
        <h2>Who's our point of contact on this project? (if not you)</h2>
        <label for="contactEmail">Contact Email</label>
        <input type="email" id="contactEmail" ng-model="otherEmail" name="contactEmail"/>

        <h2>We appreciate answers that are precise and to the point. <br>Please, no more than 500 words.</h2>
        <h4>Why should we pick your organization? How will building a website or microsite advance your mission in a meaningful way?</h4>

        <textarea id="whyYou" ng-model="whyYou" ng-keypress="limit()" ng-init="count = 0" name="whyYou"></textarea>
        <button class="hvr-sweep-to-right" type="submit" >Submit Application</button>
    </fieldset>
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script data-cfasync="false" type="text/javascript" src="js/form-submission-handler.js"></script>
</body>
</html>
